Repository Team-Safezone/Safezone-iOS, pull requests merged in 2024-10, with the labels that each got.

#48 ✅ [CHORE] 홈 화면 GUI 수정 및 API 통신 구조 제작
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/App/iOS/Assets.xcassets/Alarm.imageset/Alarm.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/Alarm.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/AlarmOn.imageset/AlarmOn.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/AlarmOn.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/DiaryBanner.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/DiaryBanner.imageset/DiaryBanner.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/MatchBanner.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/MatchBanner.imageset/MatchBanner.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/Right.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/Right.imageset/Right.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/city.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/city.imageset/city.png
  KickIt/KickIt/App/iOS/Assets.xcassets/switch.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/switch.imageset/switch.png
  KickIt/KickIt/Global/Helpers/DesignHalfButton.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Models/SoccerTeam.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Global/Views/ContentView.swift
  KickIt/KickIt/Global/Views/CustomDatePicker.swift
  KickIt/KickIt/Global/Views/SoccerMatchRow.swift
  KickIt/KickIt/Network/APIEssentials/APIConstants.swift
  KickIt/KickIt/Network/APIManagers/HomeAPI.swift
  KickIt/KickIt/Network/Models/Response/HomeResponse.swift
  KickIt/KickIt/Network/Services/HomeService.swift
  KickIt/KickIt/Screen/Home/Helpers/DiaryEventCardView.swift
  KickIt/KickIt/Screen/Home/Helpers/MatchCardView.swift
  KickIt/KickIt/Screen/Home/Helpers/MatchEventCardView.swift
  KickIt/KickIt/Screen/Home/Models/HomeDiary.swift
  KickIt/KickIt/Screen/Home/Models/HomeMatch.swift
  KickIt/KickIt/Screen/Home/ViewModels/HomeViewModel.swift
  KickIt/KickIt/Screen/Home/Views/Home.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/StartingLineupPredictionView.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/MatchCalendarViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/StartingLineupPrediction.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/WinningTeamPrediction.swift
Labels: 🖼️ View, 📡 Network, ✅ Chore, 🍏 윤지

#54 🎉[FEAT] 심박수 통계 UI 수정
  KickIt/.DS_Store
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Network/APIManagers/HeartRateAPI.swift
  KickIt/KickIt/Network/APIManagers/UserAPI.swift
  KickIt/KickIt/Network/Models/Request/MatchHeartRateRequest.swift
  KickIt/KickIt/Network/Models/Response/HeartRateStatisticsResponse.swift
  KickIt/KickIt/Network/Services/HeartRateService.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/FanListView.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/LineChartView.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/ViewerHRStatsView.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/ViewerStatsView.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/HeartRateMatchEvent.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/HeartRateRecord.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/HeartRateRecordModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/HeartRateStatistics.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/MatchEventModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/BoxEventViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/HeartRateProtocol.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/HeartRateViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/MatchEventViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/HeartRateView.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/TimelineEventView.swift
  KickIt/KickIt/Screen/Splash/ViewModels/AcceptingViewModel.swift
  KickIt/KickIt/Screen/Splash/ViewModels/MainViewModel.swift
  KickIt/KickIt/Screen/Splash/ViewModels/SettingFavViewModel.swift
  KickIt/KickIt/Screen/Splash/ViewModels/SettingNameViewModel.swift
  KickIt/KickIt/Screen/Splash/Views/AcceptingVIew.swift
  KickIt/KickIt/Screen/Splash/Views/LoginView.swift
  KickIt/KickIt/Screen/Splash/Views/MainView.swift
  KickIt/KickIt/Screen/Splash/Views/SettingFavView.swift
  KickIt/KickIt/Screen/Splash/Views/SettingNameView.swift
  KickIt/KickIt/Screen/Splash/Views/SplashView.swift
Labels: 🖼️ View, 🎉 Feat, 📡 Network, ✅ Chore, 🍎 다은

#56 🎉 [FEAT] 선발라인업 GUI 구현 및 API 로직 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Utils/Array+.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Network/APIEssentials/APIConstants.swift
  KickIt/KickIt/Network/APIManagers/MatchCalendarAPI.swift
  KickIt/KickIt/Network/Models/Request/StartingLineupRequest.swift
  KickIt/KickIt/Network/Models/Response/StartingLineupResponse.swift
  KickIt/KickIt/Network/Services/MatchCalendarService.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/LineupPredictionView.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/MatchPredictionView.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/StartingLineupModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/MatchCalendarViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/StartingLineupViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/StartingLineup.swift
Labels: 🖼️ View, 🎉 Feat, 📡 Network, 🍏 윤지

#61 🔧 [FIX] 네트워크 통신 구조 에러 해결
  KickIt/KickIt/Global/Views/CustomDatePicker.swift
  KickIt/KickIt/Network/APIEssentials/CommonResponse.swift
  KickIt/KickIt/Network/APIManagers/MatchCalendarAPI.swift
  KickIt/KickIt/Network/Bases/MyRequestInterceptor.swift
  KickIt/KickIt/Network/Bases/TargetType.swift
  KickIt/KickIt/Network/Models/Response/SoccerMatchDailyResponse.swift
  KickIt/KickIt/Network/Models/Response/SoccerMatchMonthlyResponse.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/MatchCalendarViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
Labels: 🐞 Bug&Fix, 📡 Network, 🍏 윤지

#60 🎉 [FEAT] 랭킹 프로토타입 및 API 통신 구조 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Network/APIEssentials/APIConstants.swift
  KickIt/KickIt/Network/APIManagers/MatchCalendarAPI.swift
  KickIt/KickIt/Network/Models/Response/RankingResponse.swift
  KickIt/KickIt/Network/Services/MatchCalendarService.swift
  KickIt/KickIt/Screen/MatchCalendar/Models/RankingModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/RankingViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/Ranking.swift
Labels: 🖼️ View, 🎉 Feat, 🍏 윤지
