Repository Team-Safezone/Safezone-iOS, pull requests merged in 2024-06, with the labels that each got.

#24 🎉 [FEAT] 경기 화면 GUI 수정 및 경기 캘린더 화면 수정
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/App/iOS/Assets.xcassets/Chart.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/Chart.imageset/graph.png
  KickIt/KickIt/App/iOS/Assets.xcassets/SoccerObjects.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/SoccerObjects.imageset/SoccerObjects.png
  KickIt/KickIt/App/iOS/Assets.xcassets/Trophys.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/Trophys.imageset/Trophys.png
  KickIt/KickIt/App/iOS/Assets.xcassets/heart.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/heart.imageset/heart.png
  KickIt/KickIt/App/iOS/Assets.xcassets/polygonRotate.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/polygonRotate.imageset/polygon_rotate.svg
  KickIt/KickIt/App/iOS/Assets.xcassets/soccer.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/soccer.imageset/soccer.png
  KickIt/KickIt/Global/Helpers/SpecificRoundedRectangle.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Global/Utils/TextStyle.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
Labels: 🖼️ View, 🎉 Feat, ✅ Chore, 🍏 윤지

#26 🎉 [FEAT] 경기 화면 GUI 수정 및 경기 캘린더 화면 수정
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/App/iOS/Assets.xcassets/Coin.imageset/Coin.png
  KickIt/KickIt/App/iOS/Assets.xcassets/Coin.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/RubberBall.imageset/Contents.json
  KickIt/KickIt/App/iOS/Assets.xcassets/RubberBall.imageset/RubberBall.png
  KickIt/KickIt/Global/Helpers/DesignHalfButton.swift
  KickIt/KickIt/Global/Helpers/DesignWideButton.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Models/WinningPrediction.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Global/Utils/TextStyle.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/FinishWinningTeamPrediction.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/WinningTeamPrediction.swift
Labels: 🖼️ View, 🎉 Feat, ♻️ Refactor, ✅ Chore, 🍏 윤지

#29 🎉 Feat: 홈화면 구현
  KickIt/KickIt/Global/Helpers/DesignHalfButton.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Global/Views/ContentView.swift
  KickIt/KickIt/Screen/Home/Views/Home.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
Labels: 🖼️ View, 🎉 Feat, 🍎 다은

#31 ♻️ [REFACTOR] 프리미어리그 팀 조회, 한달 경기 날짜 조회, 하루 경기 일정 조회 API 연결
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Helpers/DragIndicator.swift
  KickIt/KickIt/Global/Helpers/RadioButton.swift
  KickIt/KickIt/Global/Helpers/RadioButtonGroup.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Models/SoccerMatchDate.swift
  KickIt/KickIt/Global/Models/SoccerTeam.swift
  KickIt/KickIt/Global/Utils/Date+.swift
  KickIt/KickIt/Global/Views/CustomDatePicker.swift
  KickIt/KickIt/Global/Views/SoccerMatchRow.swift
  KickIt/KickIt/Network/API/BaseAPI.swift
  KickIt/KickIt/Network/API/HomeAPI.swift
  KickIt/KickIt/Network/API/MatchCalendarAPI.swift
  KickIt/KickIt/Network/APIEssentials/APIConstants.swift
  KickIt/KickIt/Network/APIEssentials/APISecrets.swift
  KickIt/KickIt/Network/APIEssentials/Bundle+.swift
  KickIt/KickIt/Network/APIEssentials/CommonResponse.swift
  KickIt/KickIt/Network/Bases/NetworkResult.swift
  KickIt/KickIt/Network/Bases/TargetType.swift
  KickIt/KickIt/Network/Models/Response/SoccerMatchMonthResponseModel.swift
  KickIt/KickIt/Network/Models/Response/SoccerMatchResponseModel.swift
  KickIt/KickIt/Network/Models/Response/SoccerTeamReponseModel.swift
  KickIt/KickIt/Network/Models/Response/SoccerTeamResponseModel.swift
  KickIt/KickIt/Network/Services/HomeService.swift
  KickIt/KickIt/Network/Services/MatchCalendarService.swift
  KickIt/KickIt/Screen/Home/ViewModels/DefaultHomeViewModel.swift
  KickIt/KickIt/Screen/Home/ViewModels/HomeViewModel.swift
  KickIt/KickIt/Screen/Home/Views/Home.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/DefaultMatchCalendarViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/ViewModels/MatchCalendarViewModel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
Labels: 🎉 Feat, ♻️ Refactor, 📡 Network, 🍏 윤지
