Repository Team-Safezone/Safezone-iOS, pull requests merged in 2024-05, with the labels that each got.

#5 🎉 [FEAT] 경기 캘린더 화면 1차 UI 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Helpers/DateExtensions.swift
  KickIt/KickIt/Global/Helpers/LoadableImage.swift
  KickIt/KickIt/Global/Models/CustomDate.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Views/ContentView.swift
  KickIt/KickIt/Global/Views/CustomDatePicker.swift
  KickIt/KickIt/Global/Views/SoccerMatchRow.swift
  KickIt/KickIt/Screen/EventCalendar/Views/EventCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
Labels: 🖼️ View, 🎉 Feat, ♻️ Refactor, 🍏 윤지

#7 심박수 화면 UI 1차 구현
  KickIt/.DS_Store
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Helpers/DesignButton.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/ViewController.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/HeartRate.swift
Labels: 🖼️ View, 🎉 Feat, 🍎 다은

#10 타임라인 화면 UI 및 기능 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/.DS_Store
  KickIt/KickIt/Assets.xcassets/.DS_Store
  KickIt/KickIt/Assets.xcassets/ArrowsLeftRight.imageset/ArrowsLeftRight.png
  KickIt/KickIt/Assets.xcassets/ArrowsLeftRight.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/Heartbeat.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/Heartbeat.imageset/Heartbeat.png
  KickIt/KickIt/Assets.xcassets/SoccerBall.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/SoccerBall.imageset/SoccerBall.png
  KickIt/KickIt/Assets.xcassets/VideoCamera.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/VideoCamera.imageset/VideoCamera.png
  KickIt/KickIt/Assets.xcassets/card.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/card.imageset/card.png
  KickIt/KickIt/Assets.xcassets/doublecard.imageset/Contents.json
  KickIt/KickIt/Assets.xcassets/doublecard.imageset/doublecard.png
  KickIt/KickIt/Global/Helpers/DateExtensions.swift
  KickIt/KickIt/Global/Models/PlayEvent.swift
  KickIt/KickIt/Global/Views/TimelineEventRow.swift
  KickIt/KickIt/KickIt.entitlements
  KickIt/KickIt/KickItApp.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/ViewController.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/HeartRate.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/TimelineEvent.swift
Labels: 🖼️ View, 🎉 Feat, 🍎 다은

#12 🎉 Feat: 경기 화면 1차 와이어프레임 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Helpers/DateExtensions.swift
  KickIt/KickIt/Global/Helpers/DesignButton.swift
  KickIt/KickIt/Global/Helpers/DesignWideButton.swift
  KickIt/KickIt/Global/Helpers/HeartRateButton.swift
  KickIt/KickIt/Global/Models/SoccerMatch.swift
  KickIt/KickIt/Global/Models/SoccerTeam.swift
  KickIt/KickIt/Global/Views/CustomDatePicker.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/PredictionPanel.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/MatchCalendar.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
Labels: 🖼️ View, 🎉 Feat, 🍏 윤지

#14 🎉 Feat: 우승팀 예측 화면 와이어프레임 UI 구현
  KickIt/KickIt.xcodeproj/project.pbxproj
  KickIt/KickIt/Global/Helpers/DesignHalfButton.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/PredictionPanel.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/VerticalBarChart.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/SoccerMatchInfo.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/WinningTeamPrediction.swift
Labels: 🖼️ View, 🎉 Feat, 🍏 윤지

#15 🎉 Feat: n분 사이의 가장 최고 심박수로 지정 및 UI 수정
  KickIt/KickIt/Assets.xcassets/ArrowDown.imageset/ArrowDown.png
  KickIt/KickIt/Assets.xcassets/ArrowDown.imageset/Contents.json
  KickIt/KickIt/Global/Helpers/DateExtensions.swift
  KickIt/KickIt/Global/Models/MatchEvent.swift
  KickIt/KickIt/Global/Views/TimelineEventRow.swift
  KickIt/KickIt/Screen/MatchCalendar/Helpers/ViewController.swift
  KickIt/KickIt/Screen/MatchCalendar/Views/TimelineEvent.swift
Labels: 🖼️ View, 🎉 Feat, ✅ Chore, 🍎 다은
